<%- include ('./partial/header.ejs') -%>
    <%- include ('./partial/navbar.ejs') -%>



        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h3>
                        explain the general idea of project
                    </h3>
                </div>
                <div class="col-lg-2">
                    <h3>
                        explain for diffrent use cases 
                    </h3>
                    <a class="btn btn-dark start-btn " href="/login"> Start application </a>
                </div>
            </div>
        </div>




        <%- include ('./partial/footer.ejs') -%>