<h4>Help and Support</h4>
          <ul class="support">
            <li>Transfer to your account</li>
            <li><a href="/payCredit">Pay Your Credit Card</a></li>
            <li>Payment to Others</li>
            <li>Change Your Language</li>
          </ul>

          <h4>Foreign Exchange Rates</h4>
          <table class="table table-striped foregin">
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th>Buy</th>


              </tr>
            </thead>

            <tbody>
              <!--USD-->
              <tr>
                <td><img src="../images/united-states.png" style="width:25px; height:25px;"></td>
                <td>USD</td>
                <td>15.68</td>
                
              </tr>
              <!--EURO-->

              <tr>
                <td><img src="../images/european-union.png" style="width:25px; height:25px;"></td>
                <td>EURO</td>
                <td>15.68</td>

              </tr>

              <!--GDP-->


              <tr>
                <td><img src="../images/united-kingdom.png" style="width:25px; height:25px;"></td>
                <td>GDP</td>
                <td>15.68</td>

              </tr>
            </tbody>
          </table>